html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #000000;
    width: 100%;
    max-width: 100vw;
    height: auto;
    overflow: hidden;
  }
  
  .frame .image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .frame .text-wrapper {
    position: absolute;
    width: 90%;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-text-stroke: 3px #000000;
    font-family: "EB Garamond-Regular", Helvetica;
    font-weight: 400;
    color: #ffbb00;
    font-size: 8vw;
    text-align: center;
    letter-spacing: 0.8vw;
  }
  
  .frame .rectangle {
    position: absolute;
    width: 100%;
    height: 15vh;
    top: 2%;
    left: 0;
    background-color: #0000004c;
    border-radius: 22px;
    filter: blur(2px);
  }
  
  .frame .button,
  .frame .div-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 600px;
    height: auto;
    padding: 20px;
    background-color: #000000d9;
    border-radius: 5px;
    color: white;
    font-size: 4vw;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .frame .div-wrapper {
    top: 63%;
  }
  @media (min-width: 768px) {
    .frame .button,
    .frame .div-wrapper {
      font-size: 32px;
    }
    .frame .text-wrapper {
      font-size: 64px;
      letter-spacing: 12px;
    }
  
  
    }
.button-back:hover {
  background-color: rgba(190, 36, 2, 0.821);
}
  
