body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('images/frame2.png') center/cover no-repeat;
  z-index: -1;
}

.anime-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 80%;
  max-width: 1200px;
  padding: 20px;
}

.anime-item {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 10px;
}

.text {
  flex-grow: 1;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  color: #ff0000;
}

.button-back {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease;
}

.button-back {
  background-color: #333;
}

.button-back:hover {
  background-color: rgba(190, 36, 2, 0.821);
}
